<!-- <app-users [anky]="data"></app-users>  -->
<!-- <app-users (parentComponent)="parentComponent($event)"></app-users>  -->
<!-- <h2>{{name|uppercase}}</h2>
<h2>{{name|lowercase}}</h2>
<h2>{{name|titlecase}}</h2>


<h2>{{today|date}}</h2>
<h2>{{today|date:'fullDate'}}</h2>

<h2>{{str|slice:2}}</h2>
<h2>{{str|slice:2:2}}</h2> -->
<!-- <app-login></app-login>
<app-list></app-list> -->
<a routerLink="admin/list">list </a><br>
<a routerLink="admin/login">login</a><br>
<router-outlet></router-outlet>
<!-- <a routerLink="user/list">list </a><br>
<a routerLink="user/login">login</a><br>
<router-outlet></router-outlet> -->
